*{
    box-sizing: border-box;
}

body{
    background-image:url('./HappyBirthday.2jpg.jpg');
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin: 0 2rem;
    color: goldenrod;
}

.contdown-el{
    text-align: center;
}